@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
@font-face {
    font-family: 'OTWelcomeBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeBA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.vs{
	font-family: 'OTWelcomeBA';
	font-size: 40px;
	color: #ABDEF9;
}
.card-img-top{
	height:250px;
	width:250px;
	border-radius: 70%;
	overflow: hidden;
	margin-top:-200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-wrapper{
	padding-top: 180px;
	text-align: center;
}
.subtitle{
	position: relative;
	top:-170px;
    font-size: 20pt;
	font-family: 'OTWelcomeBA';
}
.text{
	width:400px;
	color: black;
	text-align: center;
	margin:0 10px;
	display: inline-block;
	border-radius: 15px;
}
.card{
	width:400px;
	line-height: 100px;
	color: black;
	text-align: center;
	margin:0 10px;
	display: inline-block;
	border-radius: 15px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.card-title{
	font-size: 15pt;
	font-family: 'OTWelcomeBA';
}

.navbar.fixed-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-left: 10px;
  margin-right: 10px;
}

.btn-primary {
  font-family: GongGothicMedium;
  font-size: 15px;
  color: rgba(58, 133, 191, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(58, 133, 191, 0.75);
  border-radius: 40px;
  background: white;
  transition: all 0.3s ease 0s;
}

.btn-primary:hover {
  color: #FFF;
  background: rgba(58, 133, 191, 1);
  border: 2px solid rgba(58, 133, 191, 0.75);
}
.btn-primary.active {
  color: #FFF;
  background: rgba(58, 133, 191, 3);
  border: 2px solid rgba(58, 133, 191, 0.75);
}
.active{
  color: #FFF;
  background: rgba(58, 133, 191, 0.75);
  border: 2px solid rgba(58, 133, 191, 0.75);
}







